/*.seccionROW {
	min-height: 500px; 


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
	background-attachment: fixed;
}*/

h1{
	padding-left: 5%; 
	background-color: white; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.itemCustom {
	/*background-size: 100%; 
	background-position: center center;*/ 
	padding: 50px 10px; 
	margin-bottom: 30px;
}